@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

:root {
    --primary: #F8F9FA;
    --theme: #212529;
    --light-grey: #CED4DA;
    --little-dark-grey: #495057;
    --little-light-grey: #ADB5BD;
    --bottom-shadow: 0px 15px 10px -15px var(--light-grey);
    --right-bottom-shadow: 15px -10px 15px -15px var(--little-dark-grey);
    --all-side-shadow: 0px 0px 2px 2px var(--little-light-grey);
    --all-side-bold-shadow: 0px 0px 10px 10px var(--little-dark-grey);
    --font: 'Gideon Roman', cursive;
}

body {
    background-color: var(--theme);
    color: var(--primary);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: var(--bottom-shadow);
    font-family: var(--font);
}

.nav-brand {
    padding-left: 1rem;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.nav-collapse {
    padding: 1rem;
}

.nav-list-group {
    list-style: none;
    display: inline-flex;
}

.nav-collapse .list-ele {
    padding-left: 1rem;
}

.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: var(--font);
}

.main-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.rule{
    display: flex;
    flex-direction: column;
}

.quiz-type-one {
    background-image: url(/assets/general.jpg);
    color: var(--primary);
}

.quiz-type-one,
.quiz-type-two,
.quiz-type-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    border-radius: 1rem;
    padding: 1rem;
    width: 20rem;
    height: 15rem;
}

.quiz-type-one:hover,
.quiz-type-two:hover,
.quiz-type-three:hover {
    box-shadow: var(--all-side-shadow);
    width: 22rem;
}

.quiz-type-two {
    background-image: url(/assets/harry.jpg);
    color: var(--primary);
}

.quiz-type-three {
    background-image: url(/assets/logical.jpg);
    color: var(--theme);
}

.quiz-type .details {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

/* rules -css */
.rules {
    box-shadow: var(--all-side-shadow);
    padding: 1rem;
    background-color: var(--light-grey);
    color: var(--theme);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wish {
    text-align: center;
    padding: 1rem;
}

/* questions */
.main-container .fa-angle-down,
.main-container .fa-angle-up {
    font-size: 2rem;
}

.quiz-container {
    padding: 1rem;
    display:none;
}

.main-container button.btn-start,
.btn-ans {
    background-color: var(--theme);
    color: var(--light-grey);
    box-shadow: var(--all-side-bold-shadow);
    font-size: 1rem;
    width: 50%;
    padding: 1rem;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ques-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: 1.5rem;
}

.question-list {
    margin: 2rem 0;
}

.ques {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.ques-option-list {
    margin: 1rem 0;
}

.ans-list {
    margin: 0.5rem 0;
}

footer {
    padding: 1rem;
    margin: auto;
    text-align: center;
    bottom: 0;
    font-family: var(--font);
}